@page
@model Mission09_jnw53.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="alert alert-success">
    <strong>Item succesfully added to cart</strong>
</div>
<h2>Your Cart <span class="glyphicon glyphicon-shopping-cart"></span></h2>
<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Book.Price</td>
                <td>@(i.Quantity * i.Book.Price)</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl"><span class="glyphicon glyphicon-home"></span> Continue Shopping </a>
</div>